<div ng-controller='dashboardCtrl'>
	<div ng-repeat='metric in tableStructure.metrics' class='aTable'>
		<h2>{{metric}}</h2>
		<table id="{{metric}}" class='table table-striped table-responsive table-condensed'>
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="period in tableStructure.periods" class="{{period}}">{{period}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="id in tableStructure.views" class="{{id}}">
					<td>{{tableContent[id]['today'].profileInfo.profileName}}</td>
					<td ng-repeat="period in tableStructure.periods">
						<div class='results'>
							{{tableContent[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric] | number }}<br/>
							<span class="comparison">{{tableComparisonContent[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric] | number}}</span>
						</div>
						<span class='movement' ng-bind-html="movement[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric]"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>