<div ng-controller='dashboardCtrl' class='dashboard'>
  <div ng-repeat='metric in tableStructure.metrics' class='aTable'>
    <table id="{{metric}}" class='og-table'>
      <thead>
      <tr>
        <th class='metric'>{{metric}}</th>
        <th ng-repeat="period in tableStructure.periods" class="{{period}}">{{period}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="id in tableStructure.views" class="{{id}}">
        <td>{{tableContent[id]['today'].profileInfo.profileName}}</td>
        <td ng-repeat="period in tableStructure.periods">
          <div class='results'>
            <p class='current'>{{tableContent[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric] | number }}</p>
            <p class='comparison'>{{tableComparisonContent[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric] | number}}</p>
          </div>
          <p class='movement' ng-bind-html="movement[id][period.toLowerCase()]['totalsForAllResults']['ga:' + metric]"></p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>