<!DOCTYPE html>
<html ng-app='opengash'>
<head>
	<title>opengash - Google Analytics alternative dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/lib/bootstrap.css" media="screen">
	<script src='js/lib/jquery-1.10.2.min.js'></script>
	<script src='js/lib/angular.min.js'></script>
	<script src='js/lib/angular-route.min.js'></script>
	<script src="js/services.js"></script>
	<script src='js/controllers.js'></script>
	<script src="js/app.js"></script>

	<style>
		body {
			padding-top: 70px;
		}
	</style>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">opengash - An alternative Google Analytics dashboard</a>
		</div>
	</div>
</div>

<div class="container" ng-view></div>

</body>
</html>