config.js
deploy-output.txt
Thumbs.db
data
.idea
test/*/coverage
*.js.html
*/client/js/index.html
build/*

docs/*
!docs/static

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules