<!DOCTYPE html>
<html>
<head>
	<title>opengash - Google Analytics alternative dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="stylesheet">
	<style>
		body {
			padding-top: 70px;
		}
	</style>
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">opengash - An alternative Google Analytics dashboard</a>
		</div>
	</div>
</div>

<div class="container">

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" style='text-align:center; font-size:61px; background-color:transparent;'>
		<p>Welcome! Now <a class="btn btn-lg btn-danger" style='font-size:51px;' href="#">connect to Google <span
				class="glyphicon glyphicon-log-in"></span></a></p>

	</div>

</div>
<!-- /container -->

</body>
</html>