<div class="container">
  <div class="jumbotron">
    <h1>Your Google Analytics data<br>From all your websites<br>On one screen...</h1>
    <p>...and no one will see it but you&mdash;not even us.</p>
    <p>
      <a class="btn btn-lg btn-primary" ng-click="authUrl()">
        Connect to Google Analytics <span class="glyphicon glyphicon-log-in"></span>
      </a>
    </p>
  </div>
  <h2>Your privacy &amp; how opengash works</h2>

  <p>
    After you log-in and select your Google Analytics websites, opengash
    will instruct your browser to connect to Google Analytics servers and download your data
    and store it in your own browser, without even passing through opengash servers. So, we never
    get a chance to see your data, let alone store it!
  </p>

  <p>
    opengash uses JavaScript in your browser to rearrange the data and format it in a new, meaningful
    way that Google Analytics itself doesn't offer. The following image gives you a glimpse of what opengash
    does.
    <img class="img-responsive center" src="images/demo-table.jpg"/>
  </p>

  <p>
    While Google Analytics groups your data per website, opengash groups your websites' data per
    metric, so you can quickly see how all of your websites are performing per each metric and per
    each period of time.
  </p>

  <p>
    opengash is most impactful when you add several websites.
  </p>

  <h2>More on privacy</h2>
  <p>
    Keep in mind that we do store some information on our server. We store your name, your email address,
    link to your Google account photo, the names of the websites that you add, and the public numeric
    ID of each website. This information is stored so you won't have to add it every time you visit opengash.
  </p>

  <p>
    You can delete your entire account at any time.
  </p>

  <p>
    The source code that runs opengash is <a href="https://github.com/msafi/opengash">available on GitHub</a>
    and is released into the public domain for anyone to review or use.
  </p>

  <h2>Contact me</h2>
  <p>
    If you have any concerns, you can <a href="mailto:msafi@msafi.com">email me</a> or contact me
    through <a href="http://msafi.com">my website</a>.
  </p>
  <p>
    Also, I'm looking for work! If you're a team of developers and designers, and need more
    hands and eyeballs on your front-end JavaScript, I'd love to talk to you. Get in touch!
  </p>

  <div class="jumbotron" style="margin-top: 20px;">
    <p>Okay, time to log in and see your Google Analytics data in a whole new way!</p>

    <p>
      <a class="btn btn-lg btn-primary" ng-click="authUrl()">
        Connect to Google Analytics <span class="glyphicon glyphicon-log-in"></span>
      </a>
    </p>
  </div>
</div>
