<div class="container">
  <h1>{{user.name}}</h1>
  <img ng-src="{{user.picture}}" class="pull-right img-rounded medium-photo" ng-if="user.picture">
  <p class="h4">{{user.email}}</p>

  <h2>Websites</h2>
  <p>Select at least one website. <small>(opengash is most impactful when you add several websites.)</small></p>

  <form novalidate>
    <div class="form-group">
      <label class="checkbox-inline" ng-repeat="view in allViews">
        <input type="checkbox"
               ng-model="views"
               name="selectedViews"
               id="{{view.id}}"
               required="required"
               ng-click="updateSelection(view)"
               ng-checked="user.views.ids[view.id]"
        /> {{view.name}}
      </label>
    </div>

    <h2>Delete account</h2>
    <p>
      To delete your account, <a href="#">click here</a>.
      <small>(feature coming soon. If you want to delete your account now, <a href="mailto:msafi@msafi.com">email me</a>.)</small>
    </p>

    <button ng-click="home()" class="btn btn-default">Go to main page</button>
  </form>
</div>